<h1>Listing ninos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apoderado</th>
      <th>Horario</th>
      <th>Colegio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ninos.each do |nino| %>
      <tr>
        <td><%= nino.nombre %></td>
        <td><%= nino.apoderado_id %></td>
        <td><%= nino.horario %></td>
        <td><%= nino.colegio_id %></td>
        <td><%= link_to 'Show', nino %></td>
        <td><%= link_to 'Edit', edit_nino_path(nino) %></td>
        <td><%= link_to 'Destroy', nino, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nino', new_nino_path %>
