<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @nino.nombre %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @nino.horario %>
</p>

<%= link_to 'Edit', edit_nino_path(@nino) %> |
<%= link_to 'Back', ninos_path %>
