<h1>Lista de apoderados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Paga</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apoderados.each do |apoderado| %>
      <tr>
        <td><%= apoderado.nombre %></td>
        <td><%= apoderado.telefono %></td>
        <td><%= apoderado.paga %></td>
        <td><%= link_to 'Mostrar', apoderado %></td>
        <td><%= link_to 'Editar', edit_apoderado_path(apoderado) %></td>
        <td><%= link_to 'Eliminar', apoderado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Apoderado', new_apoderado_path %>
<td><%= link_to 'Back', controller: 'bienvenida'%></td>
