<h1>Lista de apoderados</h1>


<div class="panel panel-default">
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Paga</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apoderados.each do |apoderado| %>
      <tr>
        <td><%= apoderado.nombre %></td>
        <td><%= apoderado.telefono %></td>
        <td><%= apoderado.paga %></td>
        <div class="btn-group btn-primary">
          <td><%= link_to 'Mostrar', apoderado %></td>
          <td><%= link_to 'Editar', edit_apoderado_path(apoderado) %></td>
          <td><%= link_to 'Eliminar', apoderado, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Agregar Apoderado', new_apoderado_path %>
<td><%= link_to 'Atras', controller: 'bienvenida'%></td>
