<h1>Listing mujers</h1>

<table>
  <thead>
    <tr>
      <th>Edad</th>
      <th>Sexo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mujers.each do |mujer| %>
      <tr>
        <td><%= mujer.edad %></td>
        <td><%= mujer.sexo %></td>
        <td><%= link_to 'Show', mujer %></td>
        <td><%= link_to 'Edit', edit_mujer_path(mujer) %></td>
        <td><%= link_to 'Destroy', mujer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mujer', new_mujer_path %>
