<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @trabajador.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @trabajador.tipo %>
</p>

<p>
  <strong>Sueldo:</strong>
  <%= @trabajador.sueldo %>
</p>

<p>
  <strong>Id furgon:</strong>
  <%= @trabajador.id_furgon %>
</p>

<%= link_to 'Edit', edit_trabajador_path(@trabajador) %> |
<%= link_to 'Back', trabajadors_path %>
