<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @niño.nombre %>
</p>

<p>
  <strong>Apoderado:</strong>
  <%= @niño.apoderado_id %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @niño.horario %>
</p>

<p>
  <strong>Colegio:</strong>
  <%= @niño.colegio_id %>
</p>

<%= link_to 'Edit', edit_niño_path(@niño) %> |
<%= link_to 'Back', niños_path %>
